html,
body {
  background: white !important;
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 0;

  font-family: 'Roboto';

  &.light {
    background: white !important;
  }

  &.dark {
    background: black !important;
  }
}

.h,
.hidden:not(.ui.hidden) {
  display: none !important;
}

.vh {
  visibility: hidden;
}

.cl {
  clear: both;
}

.cf {
  zoom: 1;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.nb {
  border: 0;
}

.np {
  padding: 0;
}

.nm {
  margin: 0;
}

.ofh {
  overflow: hidden;
}

.nw {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.lc {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  outline: none;
}

a {
  cursor: pointer;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
  padding: 0;

  font-family: 'Roboto';

  a,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
  }
}

pre {
  margin: 0;
}

.form-control {
  color: inherit;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.nowrap {
  white-space: nowrap;
}
