.body {
	width: 90%;
	margin: 1em 5%;
}

.blink-me {
  animation: blinker 1s linear;//or 1 or infinite
}

@keyframes blinker {
  // 50% {
  //   //opacity: 0.0;
  //   filter: invert(100%);
  // }

  from {
    opacity: 0.0;
  }

  to {
    opacity: 1.0;
  }
}

.spin-me {
  animation: spinner .4s linear infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(360deg);
  }
}

.app-loading, .app-blocking {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;

  &.active {
    visibility: visible;
    z-index: 9998;
  }
}

.app-blocking {
  bottom: 0;
  // background: white;
  // opacity: .5;

  &.active {
    z-index: 9999;
  }
}

.no-match {
  left: 50%;
  margin-left: -25%;
  padding-top: 2em;
  position: absolute;
  text-align: center;
  top: 10%;
  width: 50%;
}

.flash-message {
	position: fixed;
	bottom: -10em;
  // top: -10em;
	left: 0;
	right: 0;
	width: 100%;
	max-width: 50em;
	margin: 0 auto;
	z-index: 9997;
	opacity: 1;
  animation: flashed 5s ease-in-out;
  text-align: center;
  }

  @keyframes flashed {
	0% {
	  bottom: -10em;
	  // top: -10em;
	}
	10% {
	  bottom: 1em;
	  // top: 5em;
	}
	90% {
	  bottom: 1em;
	  // top: 5em;
	}
	100% {
	  bottom: -10em;
	  // top: -10em;
	}
  }
